/* effet hover à tester */
/* .bigNews:hover {
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1); */



/* card article principale */
a {
    text-decoration: none;
}

.hotNews_block {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 80px;
    /* Enlever le margin-top pour l' implantation */
    /* background-color: chartreuse; */
}

.bigNews {
    width: 710px;
    height: 527px;
    border-radius: 10px;
    position: relative;
}

.card:hover .articleTeasing {
    height: 210px;
    bottom: 0px;
    transition: ease-in-out 0.7s;
}

.card:hover p {
    transition: ease-in-out 0.7s;
    opacity: 1;
    visibility: visible;
}

.big {
    width: 710px;
    height: 527px;
    transition: ease-in-out 1s;
    
      
}
/* To Fix */
/* .big img {
    width: clamp(154px, 100vw, 710px);
} */

.articleTeasing {
    height: 50px;
    color: #d9d9d9;
    max-width: 710px;
    display: flex;
    flex-direction: column;
    padding: 0px 26px;
    gap: 15px;
    position: absolute;
    background-color: rgb(136, 0, 68, .9);
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    transition: ease-in-out 0.7s;
}

.articleTeasing h1 {
    margin-top: 12px;
    text-align: center;
    transition: ease-in-out 0.7s;
}

.articleTeasing p {
    visibility: hidden;
    opacity: 0;
}

.title_bigNews:hover :not(:last-child) {
    transform: scale(1.1);
    transition: ease-in-out 1s;
}

/* cards article principale et secondaire */

.card1,
.big,
.card,
.small {
    border-radius: 10px;
    overflow: hidden;
}

.small {
    transition: ease-in-out 1s;
}

.card:hover {
    cursor: pointer;
}

/* cards article secondaire */

.middle_news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #f0f; */
}

.middle_news .card1 .img:hover {
    transform: scale(1.1);
}

.medium {
    transition: ease-in-out 0.7s;
}

.card1 {
    width: 300px;
    height: 179px;
    overflow: hidden;
}

.card1 h2 {
    text-align: center;
    padding-top: 8px;
    height: 80px;
    width: 100%;
    font-size: 1rem;
    margin-top: -40px;
    color: #d9d9d9;
    background-color: rgb(136, 0, 68, .9);
    position: relative;
    z-index: 1;
}

.small {
    width: 300px;
    height: 179px;
}

.small:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.7s;
}

/* middle_homepage */

.separation_bar {
    display: flex;
    justify-content: center;
    padding-top: 88px;
    padding-bottom: 88px;

}

.card2,
.card2 img {
    width: 495px;
    height: 312px;
    border-radius: 10px;
}

.card2:hover,
.little_article:hover {
    cursor: pointer;
}

.article_list {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 80vh;
    max-width: 1055px;
    gap: 109px;
    /* background-color: #f0f; */
}

.little_article {
    font-size: 18px;
    font-weight: 400;
    max-height: 312px;
}

.article_block {
    display: flex;
    gap: 86px;
    overflow: hidden;
    border-radius: 10px;
    /* background-color: blue; */
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30.42px;
}

.medium:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.7s;
}

.card_container {
    border-radius: 15px;
}

main {
    margin-bottom: 88px;
}

/* MEDIA QUERY */

@media all and (max-width: 1076px) {

    .hotNews_block {
        flex-wrap: wrap;
    }

    .middle_news {
        width: 710px;
        flex-direction: row;
        justify-content: space-between;
    }

    .article_block {
        width: 95%;
        gap: 30px;
        /* background-color: blue; */
    }

    .article_list {
        align-items: center;
        /* background-color: #f0f; */
        max-width: none;
    }
}

@media all and (max-width: 935px) {
    .article_block {
        gap:10px
    }

    .little_article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Permet de couper un texte long dans une card en lui indiquant que l'on veut 4 ligne de texte avec 3 petits points à la fin  */
    .little_article p {
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .card2,
    .card2 img {
        width: 224px;
        height: 149px;
        border-radius: 10px;
    }
}

@media all and (max-width:768px) {
    .middle_news {
        height: 400px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .separation {
        width: 60%;
    }
}

@media all and (max-width: 605px) {
    .little_article p {
        display: none;
    }

    .separation {
        width: 70%;
    }

    .article_list {
        gap: 50px;
    }
}

@media all and (max-width: 567px) {
    .card2,
    .card2 img {
        width: 186px;
        height: 124px;
        border-radius: 10px;
    }

    h3 {
        font-size: 18px;
    }
}

@media all and (max-width: 465px) {

    h3 {
        font-size: 15px;
        line-height: normal;
    }
}